.news {
  margin: auto;
  width: 600px;
  padding: 30px;
}

.news .mdl-card {
  width: 600px;
}

.news-media-box {
  background:url(
  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAF0lEQVQYV2Nk2Hu1ngENMFIqCDIPzVwAZqAKW97opr8AAAAASUVORK5CYII=
  ) repeat;
}


